.grid {
  cursor: url(https://cdn-icons-png.flaticon.com/512/664/664061.png?w=360);
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: #98d9f7;
}

.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat {
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2021/12/31/21/18/animal-6906608_960_720.png);
}