.hub > h2 {
    font-size: 40px;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    color: #a0595d ;
}

section > ul  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}